@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: Lemon Milk;
    src: url(../Main\ Menu/Fonts/LEMONMILK-Light.otf);
}

body {
    margin: 0px;
    background:  #0e0d0d;
}
/* Topo do Site */

/* NavBar */
.Nav-bars {
    height: 50px;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}
.Search-Box .Enterprise-logo {
    width: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.Nav-bars > a > .home-icon {
    width: 40px;
    margin-top: 12px;
    padding-left: 25px;
    position: absolute;
}
.Nav-bars > a > .home-icon:hover {
    background-image: url(home-white.png);
    width: 42.5px;
    transition: 10ms linear;
    transition-duration: 0.1s;
}

/* Caixa e Botões de Pesquisa */
.Search-Box {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 90px;
}
.Search-Box > button {
    border: none;
    border-radius: 18px;
    outline: none;
    background: #b9b9b9;
    height: 35px;
    width: 38px;
    margin-right: 8px;
    cursor: pointer;
}
.Search-Box > button:hover {
    background-color: #ffffff;
    margin-top: -2px;
    margin-right: 7px;
    height: 37px;
    width: 40px;
    transition: 1000ms linear;
    transition-duration: 0.01s;
}
.Search-Box > button > .search-logo {
    width: 20px;
    align-items: center;
}
.Search-Box > button > .search-logo {
    margin-top: 1px;
}
.Search-Box > input {
    border: none;
    border-radius: 20px;
    outline: none;
    height: 30px;
    width: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    color: #0e0d0d;
    font-size: 14px;
}
.Search-Box > input::placeholder {
    justify-items: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e0d0d1e;

/* Botões de Login*/

}
.Login-Btns{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px 10px;
    margin-top: -38px;
    margin-bottom: 5px;
    margin-right: 30px;
}
.signup-btn {
    background: #0bda9c;
    padding: 12px 40px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 40px #0beeaa2a;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 20px;
}
.signup-btn:hover {
    background: #02ffb3;
    box-shadow: 1px 2px 25px #00ffb3d5;
    padding: 14px 42px;
    margin-left: 42px;
    box-sizing: border-box;
    font-size: 16px;
    transition: 200ms linear;
    transition-delay: 0.1s;
}

.signin-btn {
    padding: 12px 35px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 40px #ffffff2f;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}
.signin-btn:hover {
    background: #620bee;
    color: #ffffff;
    box-shadow: 1px 2px 25px #741dffcc;
    padding: 14px 37px;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    transition-delay: 50ms linear;
    transition-duration: 0.4s;
    
}
/* Fim do Topo */

/* Login */
@font-face {
    font-family: Dalek Pinpoint;
    src: url(../Main\ Menu/Fonts/DalekPinpointBold.ttf);
}
@font-face {
    font-family: Modern Age;
    src: url(../Main\ Menu/Fonts/ModernAge.ttf);
}
.Login-Card .Top-Login {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 10pt;
    text-align: center;
    color: #00ffb3;
    font-family: Modern Age;
}
.Login-Card .Main-Login {
    background-color: #00ffb3;
    box-shadow: 0px 10px 40px #00ffb370;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: none;
    border-radius: 20px;
}
.Login-Card .Main-Login h2 {
    font-family: Dalek Pinpoint;
    text-align: center;
    font-size: 22pt;
    margin-top: -10px;
    padding-bottom: 5px;
    letter-spacing: 5px;
}
.Login-Card .Main-Login label {
    font-size: 13pt;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: -10px;
    padding-right: 300px;
    position: relative;
    font-family: Modern Age;
}
.Login-Card .Main-Login input {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 30px;
    width: 300px;
    padding-left: 8px;   
    font-size: 11pt;
    margin-left: 50px;
    position: relative;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 5px;
}
.Login-Card .Main-Login input::placeholder {
    font-size: 10pt;
    color: #00000041;
}
.Login-Card .Main-Login .Send-button {
    margin-top: 30px;
    margin-left: 90px;
    font-size: 12pt;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    width: 220px;
    display: block;
    align-content: center;
    text-align: center;
}
.Login-Card .Main-Login .Send-button:hover {
    background-color: #5a0bee;
    box-shadow: 0px 5px 40px #5b20ff88;
    color: #ffffff;
    font-size: 12pt;
    height: 50px;
    width: 225px;
    border-radius: 24px;
    transition: 1100ms linear;
    transition-duration: 0.2s;
}

/* Fim do Login */

/* Tela De Início */

@font-face {
    font-family: Suite;
    src: url(../Main\ Menu/Fonts/SuitePersonalUse.ttf);
}

.Site .Top-Web h1 {
    font-family: Suite;
    color: #ffffff;
    padding: 15px;
    font-size: 35pt;
    text-align: center;
    padding-bottom: 50px;
}


/* Aba dos Criadores */

@font-face {
    font-family: Phantom Storm;
    src: url(../Main\ Menu/Fonts/phantomstorm.ttf);
}
.Criadores {
    display: flex;
    justify-content: center;
}
.Criadores h1 {
    font-family: Phantom Storm;
    color: #f7f7f7;
}

.Criadores label {
    font-family: Phantom Storm;
    color: #08eea1;
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    padding: 48px;
    margin-left: 425px;
}

.Criadores img {
    width: 260px;
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.Criadores_Texto {
    margin-top: -25px;
    margin-left: -80px;
    text-align: center;
    cursor: pointer;
}

.Criadores_Texto .label-criadores a:hover {
    font-size: 30pt;
    margin-top: 0px;
    margin-left: -30px;
    color: #5a0bee;
    transition: 225ms linear;
    transition-delay: 0.01s;
}

.Criadores_Texto .label-criadores {
    font-family: Phantom Storm;
    font-size: 25pt;
    padding-left: 117px;
    color: #08eea1;
    
}
.Criadores_Texto .label-criadores a {
    color: inherit;
    text-decoration: none;
}
/* Fim Aba Criadores */

/* Início Aba Sobre */

.About-Session {
    height: 80vh;
    width: 100%;
    margin-top: 200px;
    padding-bottom: -250px;
    background-color: #ffffff04;
}
.About-Session h1 {
    font-size: 32pt;
    color: #08eea1;
    padding-top: 80px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Modern Age;
}
.About-Session .About-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.About-Session .About-labels label{
    font-size: 15pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 8px 15px #ffffffa4;
    padding-top: 80px;
    margin-left: 80px;
    text-align: center;
    font-family: Modern Age;
}
.About-Session .About-labels label:hover{
    font-size: 18pt;
    color: #6b1bff;
    transition: 200ms linear;
    margin-left: 50px;
    margin-bottom: -10px;
    transition-delay: 0.1s;
}
.About-Session .About-labels label a {
    text-decoration: none;
    color: inherit;
}

.About-logo .Enterprise-logo {
    width: 70px;
    display: block;
    align-items: center;
    margin: auto;
    opacity: 7%;
    margin-top: 180px;
    margin-bottom: 0px;
}

/* Fim da Aba Sobre */

/* Início da Aba Sobre a Empresa */

.Content {
    text-align: center;
}

.Content label {
    color: azure;
    font-size: 11pt;
    font-family: Lemon Milk;
}

/* Fim da Aba Sobre a Empresa */

/* Início da Aba Contatos */

.Formulário-Contato form {
    text-align: center;}

.Formulário-Contato form label {
    color: #f7f7f7;
    font-size: 11pt;
    margin-right: 10px;
    font-family: Lemon Milk;
}
.Formulário-Contato form .mensagem-label {
    color: #f7f7f7;
    font-size: 11pt;
    margin-top: -25px;
    margin-right: 10px;
    margin-bottom: 100px;
    font-family: Lemon Milk;
}
.Formulário-Contato form .checkbox_label {
    margin-top: -20px;
    margin-left: -90px;
    color: #ffc400;
}
.Formulário-Contato form input {
    color: #000000;
    padding-left: 8px;
    border: none;
    border-radius: 20px;
    height: 25px;
    width: 230px;
    margin-bottom: 20px;
    outline: none;
    font-size: 11pt;
    font-family: sans-serif;
}

.Formulário-Contato form textarea {
    color: #000000;
    padding-top: 10px;
    padding-left: 12px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 200px;
    width: 400px;
    outline: none;
    font-size: 11pt;
    font-family: sans-serif;
}
.Formulário-Contato form input[type=checkbox] {
    width: 250px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 80px;
}

.Formulário-Contato form .terms_click-here a {
    color: #00ffb3;
}

.Formulário-Contato form .Send-button {
    margin-top: 30px;
    margin-left: 550px;
    font-size: 12pt;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;
    width: 220px;
    display: block;
    align-content: center;
    text-align: center;
}
.Formulário-Contato form .Send-button:hover {
    background-color: #5a0bee;
    box-shadow: 0px 5px 40px #5b20ff88;
    color: #ffffff;
    font-size: 12pt;
    height: 57px;
    width: 230px;
    border-radius: 24px;
    transition: 1100ms linear;
    transition-duration: 0.2s;
}
/* Fim da Aba Contatos */